* {
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 244, 245);
}

nav {
    background-color: rgb(24, 24, 24);
}

.icon img {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px; 
}


.nav-options, .desktop-nav {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-page a, .desktop-nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.5rem; 
}

.logo,.nav-page a {
    color: white;
    font-size: 2.5em;
}

.card-body {
    background-color: rgb(243, 244, 245);
    text-align: center;
}
.card-body img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

/* .ranking-card {
    position: relative;
    overflow: hidden;
} */

.album-cover {
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.ranking-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.category {
    font-weight: bold;
}

.hamburger-menu > a, .dropdown-toggle {
    color: white; 
    font-size: 3rem; 
    background-color: transparent; 
    border: none; 
    padding: 0; 
}

.nav-links, .mobile-nav {
    display: none;
}

.search {
    padding: 5px;
    margin-bottom: 10px;
}

.card-header {
    background-color: black;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 0.75rem 1.25rem;
    text-align: center;
}

/* this button css is sourced from copy-paste-css.com*/
.rank-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    background: #FFF;
    border: 1px solid #D5D9D9;
    font-size: 13px;
    height: 31px;
    padding: 0 11px;
    text-align: center;
    font-weight: 400;
    color: #0F1111;
}

.submit-guess {
    background-color: black;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    cursor: pointer;
}

.guess-input {
    border: 2px solid black;
    border-right: none;
    padding: 0.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.remaining-guesses {
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    color: #333;
}

.input-group.justify-content-center {
    justify-content: center;
}

.card {
    border: 1px solid grey;
    background-color: white;
    margin: 20px auto; 
}

.recommendations {
    border-radius: 5px;
    padding: 16px;
    border: 1px solid grey;
    background-color: white;
}

.song_title {
    color: #070707;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
}

.album_img_recommendations {
    width: 100%;
    max-width: 150px;
}

.recommendation_text_area {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-height: 1em;
    max-height: 5.5em;
}

.recommendation_text_area {
    height: 100px;
    width: 100%;
}

.recommendation_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 5px;
}

.banner {
    height: 200px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ranks {
    background-color: rgb(56, 56, 56);
    color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    height: 70px;
    font-size: 1.1rem;
}

.info_label {
    font-weight: bold;
}

.select_song {
    margin-bottom: 5px;
}

.mobile-nav {
    display: none;
  }
  
  .desktop-nav {
    display: flex;
    justify-content: space-between;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    font-size: 1.2em; 
    background-color: rgb(24, 24, 24);
  }

  .dropdown-toggle {
    color: white; 
    background-color: transparent; 
    border: none; 
  }

  .dropdown-menu a {
    color: black;
}

.dropdown-item {
    background-color: transparent;
    border: none;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  
  /* Mobile view */
  @media (max-width: 598px) {
    .mobile-nav {
      display: block;
    }

    .desktop-nav {
      display: none;
    }
  }
  

@media (min-width: 992px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        width: 100%;
    }

    .recommendations {
        max-width: 420px;
    }

    .song_title {
        font-size: 3rem;
    }

    .album_img_recommendations {
        width: 100%;
        max-width: 150px;
    }
}